* {
  all: unset;
  font-family: "Terminus";
  font-size: 12px;
}

.bar {
  background-color: #181818;
  color: #d8d8d8;
  padding: 0 10px;
}

.workspaces {
  padding: 0 5px;
}

.workspace {
  padding: 0 8px;
  margin: 0 2px;
  background-color: #282828;
}

.workspace.focused {
  background-color: #d8d8d8;
  color: #181818;
}

.workspace.occupied {
  background-color: #383838;
}

.window-title {
  padding: 0 10px;
  color: #d8d8d8;
}

.sidestuff {
  padding: 0 5px;
}

.metric {
  padding: 0 8px;
}

.metric .label {
  color: #b8b8b8;
  margin-right: 5px;
}

.metric .value {
  color: #d8d8d8;
}

.time {
  padding: 0 10px;
  color: #d8d8d8;
}
